      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

     .jumbotron { padding: 0.4rem; margin-bottom: 0.2rem; line-height:normal }
     .container { padding: 0.4rem; }

     .Pshape { width: 100%;
		  border-collapse: separate;
		  border-spacing: 0px;
	    }

      @media (min-width: 768px) {
        .container { padding: 0.4rem; width:512px }
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    	.Pshape { width: 480px;
		  border-collapse: separate;
		  border-spacing: 0px;
		}
      }

     .Oshape { border:solid;
            border-color: black;
		    border-width: 2px;
		    border-radius: 30px;
		    text-align: center;
		    aspect-ratio: 1 / 1;
		    display: table-cell;
		    vertical-align: middle;
		    padding: 5px;
	    }

     .OWshape { border:solid;
            border-color: black;
		    border-width: 2px;
		    border-radius: 30px;
		    text-align: center;
		    aspect-ratio: 1 / 1;
		    padding: 5px;
	    }

     .OTshape { border:solid;
            border-color: black;
		    border-width: 2px;
		    border-radius: 20px 20px 6px 6px;
		    aspect-ratio: 1 / 1;
		    padding: 5px;
		    text-align: center;
		    height: 35px;
	    }

     .OBshape { border:solid;
            border-color: black;
		    border-width: 2px;
		    border-radius: 6px 6px 20px 20px;
		    aspect-ratio: 1 / 1;
		    padding: 5px;
		    text-align: center;
		    height: 35px;
	    }

     .Xshape { border:solid;
		    border-width: 1px;
		 	margin: 10px;
		    text-align: center;
	    }

     .Bshape { border-style:none double none double;
		    border-width: 3px;
		    text-align: center;
	    }

     .Ushape { border-style: none solid solid solid;
            border-color: black;
		    border-width: 4px;
		    border-radius: 10px;
		    text-align: center;
	    }

     .Dshape { text-align: center;
	    }

     .Eshape { border-style: none none dashed none;
		    border-width: 1px;
		    text-align: center;
	    }

     .Lshape { border-style: none none dashed none;
		    border-width: 1px;
		    text-align: left;
	    }

    .Drotate {
	     transform: rotate(-90deg);
	    }

    .flowing { color: rgba(15,15,255,1) }
    .empty   { color: rgba(224,168,00,1) }

    .empty_pipe { opacity:0.3; text-shadow: 2px 4px #666666; }

    .danger { color: #FFFFFF; background-color: red; text-align:center; margin:2px; padding-left:1rem; padding-right:1rem; }

    .greenToRed { background: linear-gradient(.25turn, #00AAFF, #FF0000); color:white; }

	span.nobreak {
	  white-space: nowrap;
	}

    .nav {
      color: white !important;
      font-size: 1.2em !important;
    }

    .nav-link {
      color: rgba(255,255,255,.75) !important;
      font-size: 1.2em !important;
    }

    .dropdown-item {
      font-size: 1.2em !important;
    }
    .dropdown-grayed {
      color: grey !important;
      font-style: italic;
    }

    .flip-vertical {
        transform: scaleY(-1) rotate(270deg);
    }

    g text {
        /* font-family:'OpenSans, Arial, Helvetica, sans-serif'; */
        font-size:10px;
    }

    g.current rect {
        stroke: #F7941D !important;
    }

    g.current {
        stroke: #000000 !important;
    }

    g.enabled {
        fill:#FFFFFF;
        stroke: #000000;
    }

    g.disabled {
        fill:#AAAAAA;
        stroke: #777777;
    }

	.st0{fill:#F7941D;}
	.st1{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:#FFFFFF;}
	.st4{font-family:'OpenSans-Semibold';}
	.st5{font-size:10px;}
	.st6{fill:#808285;}
	.st7{fill:#939598;}
	.st8{fill:none;stroke:#F7941D;stroke-miterlimit:10;}
	.st9{font-family:'OpenSans';}
	.st10{fill:#ED1C24;}
	.st11{fill:#00A651;}
	.st12{font-family:'OpenSans-Italic';}
	.st13{fill:none;stroke:#939598;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st14{fill:none;stroke:#939598;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st15{fill:none;stroke:#939598;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st16{fill:none;stroke:#939598;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
	.st17{fill:none;stroke:#939598;stroke-width:0.75;stroke-miterlimit:10;}
	.st18{font-size:2.4596px;}
	.st19{font-size:8.4145px;}
	.st20{fill:none;stroke:#323232;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st21{fill:none;stroke:#323232;stroke-linecap:round;stroke-linejoin:round;}
	.st22{fill:none;stroke:#323232;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}
	.st23{fill:#323232;}
	.st24{font-size:9px;}
	.st25{fill:#00AEEF;}
	.st26{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}
	.st28{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st29{fill:none;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;}

    .bucketIN2  { padding: 3px; width:5rem;
                  border-style: solid solid solid solid;
                  border-color: #e9ecef black black black;
                  border-width: 10px 3px 3px 3px;
                  border-radius: 0px 0px 10px 10px;
                  text-align: center; }
    .bucketOUT2  { padding: 3px; width:5rem;
                  border-style: solid solid solid solid;
                  border-color: #e9ecef black black black;
                  border-width: 10px 3px 3px 3px;
                  border-radius: 0px 0px 10px 10px;
                  text-align: center; }
    .bucketIN1  { padding: 3px; width:5rem;
                  border-style: none solid solid solid;
                  border-color: #e9ecef black black black;
                  border-width: 10px 3px 3px 3px;
                  border-radius: 0px 0px 10px 10px;
                  text-align: center; }
    .bucketOUT1  { padding: 3px; width:5rem;
                  border-style: solid solid none solid;
                  border-color: #e9ecef black black black;
                  border-width: 10px 3px 3px 3px;
                  text-align: center; }
	.in      { color: black; background-color : #e9ecef }
	.innull  { color: black; background-color : #e9ecef }
    .inWPOT  { color: black; background-color : white }
    .inDESI  { color: white; background-color : black }
    .inRECUP { color: black; background-color : yellow }
    .inPAST  { color: black; background-color : white }
    .inACID  { color: white; background-color : red }
    .inCAUS  { color: white; background-color : blue }
    .inAIR   { color: black; background-color : #e9ecef }
    .inRAW   { color: black; background-color : #fff3cd }
    .inSEWR  { color: white; background-color : brown }
    .inPAST2 { color: black; background-color : white }
    .inRAW2  { color: black; background-color : #fff3cd }

    .commandKeyboard { border-color:white; width="100%"; table-layout:fixed }
    .commandButtonCell { border-color:white; text-align: center; width="30%" max-width="30%"}
    .commandButton { display:block; height:100%; width: 100% }

    #com_  {background-color:#00A651}
    #comA  {background-color:red}
    #comC  {background-color:blue}
    #comD  {background-color:black}
    #comE  {background-color:#F7941D}
    #comF  {background-color:navy}
    #comI  {background-color:#F7941D}
    #comN  {background-color:blue}
    #comO  {background-color:#F7941D}
    #comP  {background-color:#F7941D}
    #comR  {background-color:#F7941D}
    #comS  {background-color:#F7941D}
    #comV  {background-color:darkcyan}
    #comZ  {background-color:#F7941D}
    .comDisable  {background-color:gray ! important}

    .letAction {color:white; text-align: center; vertical-align: bottom; font-size:1.2rem; overflow-wrap: break-word; }
