$def with (action, calibration)
$var title : Pump Calibration
<script type="text/javascript">
   var commands = false ;
</script>
<main role="main" class="container">
    <div class="jumbotron" onclick="void(0);">
        <h3><b id="time"></b> $(ml.T("Calibration de la pompe","Calibration of the pump","Pompcalibratie"))</h3>
        <p><span><b id="vitesse"></b> $(ml.T("Litres par heure","Liters per hour","Liters per uur"))</span></p>
        <div class="form-group"><form>
            <label for="id">$(ml.T("Profil chargé","Loaded Profile","Profiel geladen"))</label>
            $ index = calibration.index()
            <select class="form-select" id="id" name="id">
                $for i in [0,1,2,3,4,5,6,7,8,9]:
                    <option value="$(i)" $('selected' if i==calibration.id else '')>$(i) : $(index[i] if i in index.keys() else '---')</option>
            </select><button type="submit" name="action" value="load" class="btn btn-info">$(ml.T("Charger","Load","Laden"))</button></form>
        </div><hr/>
        <div class="form-group"><form>
            <label for="rpm">$(ml.T("Max RPM","Max RPM","Max RPM"))</label>

            <input class="form-control" id="rpm" name="rpm" placeholder="360" min="0" max="600" step="1" type="number" value="$(calibration.maxRPM)">
            <button type="submit" name="action" value="mx$(calibration.maxRPM-10)" class="btn btn-success"> - </button>
            <button type="submit" name="action" value="mx$(calibration.maxRPM+10)" class="btn btn-danger"> + </button>
            <button type="submit" name="action" value="mx" class="btn btn-primary">$(ml.T("Fixer","Set","Instellen"))</button>
            <button type="submit" name="action" value="go0" class="btn btn-warning">STOP</button></form>
        </div><hr/>
        <form>
        <div class="form-group">
            <label for="description">$(ml.T("Description","Description","Beschrijving"))</label>
            <input class="form-control" id="description" name="description" placeholder="---" type="text" value="$(calibration.description)">
        </div>
        <div class="form-group">
            <label for="uphill">$(ml.T("Amont(mL)","Upstream(mL)","StroomOPwaarts(mL)"))</label>
            <input class="form-control" id="uphill" name="uphill" placeholder="0" min="0" max="2000" step="50" type="number" value="$(calibration.uphill)">
        </div>
        <div class="form-group">
            <label for="downhill">$(ml.T("Aval(mL)","Downstream(mL)","StroomAFwaarts(mL)"))</label>
            <input class="form-control" id="downhill" name="downhill" placeholder="0" min="0" max="15000" step="50" type="number" value="$(calibration.downhill)">
        </div>
        <div class="form-group">
            <label for="stepRPM">$(ml.T("Incrément RPM","RPM Steps","RPM-stappen"))</label>
            <input class="form-control" id="stepRPM" name="stepRPM" placeholder="50" min="10" max="200" step="1" type="number" value="$(calibration.stepRPM)"/>
        </div>
        <div class="form-group">
            <label for="timeslice">$(ml.T("Temps d'échantillonage","Sample duration","Bemonsteringstijd"))</label>
            <input class="form-control" id="timeslice" name="timeslice" placeholder="15" min="10" max="90" step="1" type="number" value="$(calibration.timeslice)"/>
        </div>
        <div class="form-group">
            <label for="id">$(ml.T("Profil sauvé","Saved Profile","Opgenomen profiel"))</label>
            $ index = calibration.index()
            <select class="form-select" id="idsaved" name="idsaved">
                $for i in [0,1,2,3,4,5,6,7,8,9]:
                <option value="$(i)" $('selected' if i==calibration.id else '')>$(i) : $(index[i] if i in index.keys() else '---')</option>
            </select>
        </div>
        <button type="submit" name="action" value="save" class="btn btn-success">$(ml.T("Enregistrer","Save","Redden"))</button></form><hr/>
$if calibration.measures is not None:
    <form><table cellpadding="3">
    $ times, rpms, lhs = calibration.get_spaced()
    $ i = 0
    <tr><th>RPM</th>
        <th>$(ml.T("Échantillon","Sample","Bemonstering"))</th>
        <th>$(ml.T("Litres/heure","Liters/hour","Liters/uur"))</th>
        <th>mL / $(calibration.timeslice)&quot;</th>
    </tr>
    $ prvRPM = -1
    $for rpm in rpms:
        <tr><td align=right>
                <button type="submit" name="action" value="go$(rpms[i])" class="btn btn-primary">$(rpms[i])</button>
            </td>
            <th>$(str(datetime.fromtimestamp(int(times[i]))) if times[i] else '')</th>
            <td align=right><b>$(lhs[i] if lhs[i] else '')</b></td>
            <td align=right>
                $if rpms[i] != prvRPM and rpms[i] == calibration.currspeed:
                    <input class="form-control" id="mLadd" name="mLadd" placeholder="0" min="0" max="15000" step="1" type="number" value="$(int(lhs[i]/3.6*calibration.timeslice) if lhs[i] else '')"/>
                    <button type="submit" name="action" value="add" class="btn btn-info"><b>+</b></button>
                $elif lhs[i]:
                    $(int(lhs[i]/3.6*calibration.timeslice))
            </td>
            <td>
                $if times[i]:
                    <button type="submit" name="action" value="dl$(times[i])" class="btn btn-warning" style="color:red"><b>X</b></button>
            </td>
        </tr>
        $ prvRPM = rpms[i]
        $ i+= 1
    </table></form></div>
        <svg height="400" width="$(calibration.maxRPM*5/6)" style="border:1px solid black;" class="chart">
            <!-- This is the background lines -->
            <text x="5" y="350">50</text>
            <text x="5" y="300">100</text>
            <text x="5" y="250">150</text>
            <text x="5" y="200">200</text>
            <text x="5" y="150">250</text>
            <text x="5" y="100">300</text>
            <text x="5" y="50">L/h</text>
            <text x="$(5+(2*calibration.stepRPM*5/6))" y="360">RPM</text>
            $for i in range(calibration.stepRPM, calibration.maxRPM, calibration.stepRPM):
                <polyline
                        points="$(i*5/6),0 $(i*5/6),400"
                        stroke="grey"
                        stroke-width="1"
                        fill="none" />
                <text x="$(4+(i*5/6))" y="385">$(i)</text>

            <!-- This is the chart data -->
            <polyline stroke-linejoin="round"
                      points="$(calibration.get_graph())"
                      stroke="blue"
                      stroke-width="3"
                      fill="none"
                      stroke-opacity="1"
                      stroke-linecap="round" />

            <polyline stroke-linejoin="round"
                      points="$(calibration.get_graph_formula())"
                      stroke="red"
                      stroke-width="3"
                      fill="none"
                      stroke-opacity="1"
                      stroke-linecap="round" />
        </svg>
</main>