$def with (connected, mail, logtable, letter, paving)
$var title : Affordable Pasteurizer
$if paving:
    <div id="paving" class="jumbotron" onclick="void(0);"></div>
    <script type="text/javascript">
       var here = $$("#paving");
       here.load("static/ecran_accueil.svg", function() {
       $for letter in menus.sysActions+menus.cleanActions+menus.dirtyActions:
            SVGready($$("#menu${letter}"));
       });
    </script>
$if not paving:
    <main role="main" class="container">
    <div class="jumbotron" onclick="void(0);">
    $if connected:
        <button onclick='fromHereTo("$(letter)","Z")' class="btn btn-danger" id="STOP" style="float:right">STOP</button>

        <h3><b id="time"></b> &nbsp; <b id="actionletter"></b>:<b id="action"></b> &nbsp; (<span id="emptied">$(ml.T("Circuit vidé","Emptied circuit","Leeg circuit")), </span><b id="stateletter" class="show-flow"></b>:<b id="state"></b>)<br/><span id="danger" class="danger"></span></h3>
        <p style="margin:auto"><span id="actiontitle"></span></p>
        <button onclick="action('>')" class="btn btn-success" id="forcing" style="float:right")>&gt;&gt;</button>
        <button onclick="action('S')" class="btn btn-warning" id="pause" style="float:right">$(ml.T("Pause","Pause","Pauze"))</button>
        <button onclick="action('!')" class="btn btn-info buckbutton" id="buckbutton" style="float:right">$(ml.T("Seau fourni","Bucket provided","Emmer voorzien"))&nbsp;<span id="bucket" class="glyphicon"></span></button>
        <button onclick="action('+')" class="btn btn-info" id="addbutton" style="float:right">$(ml.T("Produit ajouté","Product added","Product toegevoegd"))&nbsp;<span id="added" class="glyphicon"></span></button>
        <!--button onclick="action('&gt;')" class="btn btn-info" id="force" style="float:right">$(ml.T("Forcer>","Force>","Kracht>"))</button-->
        <button onclick="action('_')" class="btn btn-success" id="restart" style="float:right">$(ml.T("Redémarrer","Restart","Herstart"))</button>
        <!--button onclick="action('V')" class="btn btn-warning" id="dumpbutton" style="float:right">$(ml.T("Vider","purge","zuiVering"))</button-->

        <p class="alert alert-warning" style="display:inline-block"><b id="accro"></b> <span id="message"></span><span id="delay"></span></p>
        <hr/>
    $if logtable:
        <script type="text/javascript">
                $$('#logtable').hide();
        </script>
        <a href="/"><button class="btn btn-info">$(ml.T("Retour au Schéma","Back to schema","Terug naar schema"))</button></a>
        <table id="tableau" class="display responsive compact hover" style="width:100%">
                <thead>
                <tr id="topHeader">
                    <th name="date">Heure</th>
                    <th>Watts</th>
                    <th>W/h</th>
                    <th>$(ml.T("Qtité","Qtity","Aantal"))</th>
                    <th>L/h</th>
                    <th>$(ml.T("Déb.Chaud","Heat.Beg","BeginVerw."))°</th>
                    <th>$(ml.T("Chauffe","Heating","Verwarm."))°</th>
                    <th>$(ml.T("Garantie","Guaranty","Garantie"))°</th>
                    <th>$(ml.T("Entrée","Input","Invoer"))°</th>
                    <!--th>(ml.T("Tempér","Mitig","Mitig"))°</th-->
                    <!--th>Extra°</th-->
                </tr>
                </thead>
                <tfoot>
                <tr id="bottomHeader">
                </tr>
                </tfoot>
        </table>
        <script type="text/javascript">
            $$('#bottomHeader').html($$('#topHeader').html());
        </script>
    $if not logtable:
        <table class="Pshape">
                <tr>
                    <td id="OUTbucket" rowspan="2"><span id="tbout"></span><br/><span id="qbout"></span></td>
                    <td colspan="5">&nbsp;</td>
                    <td class="Ushape" rowspan="4" id="Dheating"><div class="Oshape" id="Dwarranty"><div class="Drotate"><span class="glyphicon glyphicon-random show-flow"></span></div><span>&nbsp;<b id="warranty"></b>°&nbsp;</span></div><span>&nbsp;<b id="heating"></b>°&nbsp;</span></td>
                </tr>
                <tr>
                    <td class="Lshape" colspan="2"><span id="level2"><big><b style="color:red">X</b></big></span><small>&lt;$(ml.T("Sortie","Output","Uitvoer"))</small>&nbsp;<span class="glyphicon show-flow show-empty backward"></span></td>
                    <!--td class="Eshape"><b id="extra"></b></td-->
                    <td class="Eshape"><div><span class="glyphicon show-flow show-empty backward"></span></div><span id="rmeter"></span></td>
                    <!--td class="Ushape" rowspan="2"><b id="temper"></b>°</td-->
                    <!--td class="Eshape"><span class="glyphicon glyphicon-arrow-left"/></td-->
                    <!--td class="Bshape" rowspan="2"><span class="glyphicon glyphicon-random Drotate show-flow"/></td-->
                    <td class="OTshape greenToRed">&nbsp;<span class="glyphicon backward"></span>&nbsp;</td>
                    <td class="Eshape"><div style="display:inline"><span class="glyphicon show-flow show-empty backward"></span></div></td>
                </tr>
                <tr>
                    <td id="INbucket" valign="top" rowspan="2"><span id="tbin"></span><br/><span id="qbin"></span></td>
                    <td rowspan="2" valign="top"><span id="level1"><big><b style="color:blue">X</b></big></span><small>&gt;$(ml.T("Entrée","Input","Invoer"))</small>&nbsp;<span class="glyphicon show-flow show-empty forward"></span></td>
                    <td class="Oshape" rowspan="2"><b id="vitesse"></b>L/h</td>
                    <td class="Dshape" valign="top"><span class="glyphicon show-flow show-empty forward"></span></td>
                    <td class="OBshape greenToRed" valign="top">&nbsp;<span class="glyphicon forward"></span>&nbsp;</td>
                    <td class="Dshape" valign="top"><div style="display:inline"><span class="glyphicon show-flow show-empty forward"></span></div></td>
                </tr>
                <tr>
                    <td class="Dshape"><span id="Dintake">&nbsp;<b id="intake"></b>°&nbsp;</span><br/><span class="glyphicon glyphicon-log-in" id="fill" style="color:blue"></span></td>
                    <td>&nbsp;</td>
                    <td class="Dshape"><span id="Dinput">&nbsp;<b id="input"></b>°&nbsp;</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td valign="top" align="center"><!--span id="pressMin" font-color="blue"></span>&nbsp;&lt;&nbsp;<b id="press"></b>&nbsp;&lt;&nbsp;<span id="pressMax" font-color="red"></span>bar<br/-->&sum;=<b id="volume"></b>L<br/><span id="remain"></span></td>
                    <!--td align="right" colspan="2"><span class="nobreak"><div style="display:inline;"><span class="glyphicon glyphicon-fire"/></div><b id="watts2"></b>W/h</span></td-->
                    <td>&nbsp;</td>
                    <td align="center" colspan="2">&sum;=<b id="totalwatt"></b>W</td>
                    <td align="right"><span class="nobreak"><div style="display:inline;"><span class="glyphicon glyphicon-fire"></span></div><b id="watts"></b>W/h</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="center"><i id="pumpopt"></i><i>L/h</i></td>
                    <td>&nbsp;</td>
                    <!--td align="center"><span id="cooling"><i id="opt_T"></i><i>°</i></span> <span id="cleaning"><i id="opt_tempbis"></i><i>°</i></span></td-->
                    <td align="right" colspan="4"><i id="opt_temp"></i><i>°, </i><i id="opt_M"></i><i>"</i></td>
                </tr>
                <tr id="eff">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="center" style="text-decoration:overline"><i id="pumpeff"></i><i>L/h</i></td>
                    <td>&nbsp;</td>
                    <!--td align="center"><span id="cooling"><i id="opt_T"></i><i>°</i></span> <span id="cleaning"><i id="opt_tempbis"></i><i>°</i></span></td-->
                    <td align="right" colspan="4"><i id="heateff"></i><i>%</i></td>
                </tr>
        </table>
    $if connected and letter:
            <div class="modal fade" id="modalDocumentation" tabindex="-1" role="dialog" aria-labelledby="modalDocumentationTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalDocumentationTitle">$letter: $(menus.actionName[letter][1]) - $(menus.actionName[letter][3])</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
            <ul id="documentation">
            $if letter == 'F':
              $if ml.lang == 'f':
                <li>Votre pasteurisateur contient des restes de produit, de détergent ou de désinfectant...
                <li>On utilise soit l’eau potable du réseau ou celle d'un seau.
                <li>Pour l'eau du réseau: mettez le tuyau d’entrée et le tuyau de sortie dans un même seau ou au dessus d'un égout.
                <li>Pour l'eau d'un seau, mettez le tuyau d’entrée dans celui-ci et le tuyau de sortie dans un autre.
                <li>Faîtes attention à ce que les seaux fassent au moins 20L si vous faites 4 rinçages.
                <li>L’eau de rinçage peut être récupérée pour une autre fois: elle sert alors pour les deux premiers rinçages parmi 4.
              $if ml.lang == 'e':
                <li>Your pasteuriser contains product, detergent or disinfectant residues...
                <li>You can use either mains water or water coming from a bucket.
                <li>For mains water: put the inlet and outlet pipes in the same bucket or over a drain.
                <li>For bucket water, put the inlet pipe in the bucket and the outlet pipe in another bucket.
                <li>Make sure the buckets are at least 20L if you are doing 4 rinses.
                <li>The rinse water can be collected for another time: it is then used for the first two rinses out of 4.
              $if ml.lang == 'n':
                <li>Uw pasteur bevat resten product, reinigingsmiddel of ontsmettingsmiddel...
                <li>Je gebruikt leidingwater of water uit een emmer.
                <li>Voor leidingwater: leg de in- en uitlaatleidingen in dezelfde emmer of boven een afvoer.
                <li>Voor emmer water: stop de inlaatpijp in deze en de uitlaatpijp in een andere.
                <li>Zorg ervoor dat de emmers minstens 20 liter groot zijn als u 4 keer spoelt.
                <li>Het spoelwater kan worden opgevangen voor een andere keer: het wordt dan gebruikt voor de eerste twee van de 4 spoelingen.
            $if letter == 'P':
              $if ml.lang == 'f':
                <li>La pasteurisation prend le lait crû (ou autre boisson), chauffe le temps requis (configurable entre 15 et 30 secondes) à la température requise (configurable entre 60 et 89°C).
                <li>Nettoyer l'extérieur du tuyau d’entrée puis le mettre dans le bidon de lait crû (ou autre boisson).
                <li>Le tuyau de sortie fournira d'abord l'eau contenue dans le pasteurisateur (5 litres). Il y aura ensuite une pause pour que vous puissiez le brancher à la cuve de sortie lorsque le lait arrive.
                <li>Cette cuve devra être impeccablement vide, propre et désinfectée.
                <li>Le bouton vert permet de reprendre. Le bouton jaune permet de faire une pause (par exemple, pour passer d'un bidon de lait crû au suivant).
                <li>Lorsque tous les bidons d'entrée ont été vidés, la commande "E"(Pousse-à-l'eau) prendra 5L d’eau propre d'un seau en entrée pour pousser le lait qui reste vers la sortie du circuit.
              $if ml.lang == 'e':
                <li>The pasteuriser takes the raw milk (or other beverage), heats it for the required time (configurable between 15 and 30 seconds) to the required temperature (configurable between 60 and 89°C).
                <li>Clean the outside of the inlet pipe and then place it in the raw milk (or other beverage) canister.
                <li>The outlet pipe will first supply the water contained in the pasteuriser (5 litres). There will then be a pause so that you can connect it to the outlet tank when the milk arrives.
                <li>This tank must be impeccably empty, clean and disinfected.
                <li>The green button allows you to resume. The yellow button allows you to pause (for example, to switch from one canister of raw milk to the next).
                <li>When all the input cans have been emptied, the "E" (Push to water) control will take 5L of clean water from an input bucket to push the remaining milk out of the system.
              $if ml.lang == 'n':
                <li>De pasteur neemt de rauwe melk (of andere drank), verhit deze gedurende de vereiste tijd (instelbaar tussen 15 en 30 seconden) tot de vereiste temperatuur (instelbaar tussen 60 en 89°C).
                <li>Reinig de buitenkant van de inlaatbuis en plaats deze vervolgens in de bus rauwe melk (of andere drank).
                <li>De afvoerleiding voert eerst het water in de pasteur aan (5 liter). Er is dan een pauze zodat u hem kunt aansluiten op de uitlaattank wanneer de melk arriveert.
                <li>Deze tank moet onberispelijk leeg, schoon en ontsmet zijn.
                <li>Met de groene knop kunt u hervatten. Met de gele knop kunt u pauzeren (bijvoorbeeld om van de ene naar de andere bus rauwe melk te gaan).
                <li>Wanneer alle invoerblikken zijn geleegd, neemt de "E"-regeling (Duwen naar water) 5L schoon water uit een invoeremmer om de resterende melk uit het systeem te duwen.
            $if letter == 'H':
              $if ml.lang == 'f':
                <li>La production d'eau pasteurisée chauffe l'eau propre le temps requis (configurable entre 15 et 30 secondes) à la température requise (configurable entre 60 et 89°C).
                <li>Le tuyau de sortie fournira d'abord l'eau contenue dans le pasteurisateur (5 litres non pasteurisé). Il y aura ensuite une pause pour que vous puissiez le brancher à la cuve de sortie lorsque l'eau pasteurisée arrive.
                <li>Cette cuve devra être impeccablement vide, propre et désinfectée.
                <li>Le bouton vert permet de reprendre. Le bouton jaune permet de faire une pause.
              $if ml.lang == 'e':
                <li>The production of pasteurised water heats clean water for the required time (configurable between 15 and 30 seconds) to the required temperature (configurable between 60 and 89°C).
                <li>The outlet pipe will first supply the water contained in the pasteuriser (5 litres). There will then be a pause so that you can connect it to the outlet tank when the pasteurized water arrives.
                <li>This tank must be impeccably empty, clean and disinfected.
                <li>The green button allows you to resume. The yellow button allows you to pause.
              $if ml.lang == 'n':
                <li>De pasteur neemt de schoon water, verhit deze gedurende de vereiste tijd (instelbaar tussen 15 en 30 seconden) tot de vereiste temperatuur (instelbaar tussen 60 en 89°C).
                <li>De afvoerleiding voert eerst het water in de pasteur aan (5 liter). Er is dan een pauze zodat u hem kunt aansluiten op de uitlaattank wanneer de gepasteuriseerde water arriveert.
                <li>Deze tank moet onberispelijk leeg, schoon en ontsmet zijn.
                <li>Met de groene knop kunt u hervatten. Met de gele knop kunt u pauzeren.
            $if letter == "I":
              $if ml.lang == 'f':
                <li>Si une panne électrique ou une autre cause interrompt la pasteurisation, il faut reprendre le traitement dès que possible...
                <li>Garder le tuyau d’entrée dans le bidon de lait crû (ou autre boisson) et le tuyau de sortie branché à la cuve de sortie.
                <li>La pasteurisation reprend alors directement.
                <li>Le bouton vert permet de reprendre. Le bouton jaune permet de faire une pause (par exemple, pour passer d'un bidon de lait crû au suivant).
                <li>Lorsque tous les bidons d'entrée ont été vidés, la commande "E"(Pousse-à-l'eau) prendra 5L d’eau propre d'un seau en entrée pour pousser le lait qui reste vers la sortie du circuit.
              $if ml.lang == 'e':
                <li>If a power failure or other cause interrupts the pasteurisation, the treatment should be resumed as soon as possible...
                <li>Keep the inlet pipe in the raw milk (or other beverage) can and the outlet pipe connected to the outlet tank.
                <li>Pasteurisation will then resume directly.
                <li>The green button allows you to resume. The yellow button allows you to pause (for example, to switch from one canister of raw milk to the next).
                <li>When all the input cans have been emptied, the "E" (Push to water) control will take 5L of clean water from an input bucket to push the remaining milk out of the system.
              $if ml.lang == 'n':
                <li>Als een stroomstoring of een andere oorzaak de pasteurisatie onderbreekt, moet de behandeling zo snel mogelijk worden hervat...
                <li>Houd de inlaatbuis in het blikje rauwe melk (of andere drank) en de uitlaatbuis aangesloten op de uitlaattank.
                <li>De pasteurisatie wordt dan direct hervat.
                <li>De groene knop wordt gebruikt om te hervatten. De gele knop wordt gebruikt om het proces te pauzeren (bijvoorbeeld om van het ene blik rauwe melk naar het andere te gaan).
                <li>Wanneer alle ingangsblikken zijn geleegd, neemt de "E"-regeling (Duwen naar water) 5L schoon water uit een ingangsemmer om de resterende melk uit het circuit te duwen.
            $if letter == 'E':
              $if ml.lang == 'f':
                <li>Quand il n’y a plus de lait crû (ou autre boisson) à traiter, il faut encore chasser ce qui reste dans la machine.
                <li>De l’eau est nécessaire et le pasteurisateur arrête juste à temps pour ne pas en mettre dans la cuve de sortie...
                <li>Cette commande prendra 5L d’eau propre d'un seau en entrée pour pousser le lait qui reste vers la sortie du circuit.
                <li>Le bouton jaune permet de faire une pause (par exemple, pour passer d'un bidon de lait crû au suivant). Le bouton vert permet de reprendre.
              $if ml.lang == 'e':
                <li>When there is no more raw milk (or other beverage) to be processed, what remains in the machine must be flushed out again.
                <li>Water is needed and the pasteuriser stops just in time to avoid putting water in the outlet tank...
                <li>This control will take 5L of clean water from an inlet bucket to push the remaining milk out of the circuit.
                <li>The yellow button allows you to pause (for example, to switch from one can of raw milk to the next). The green button is used to resume.
              $if ml.lang == 'n':
                <li>Wanneer er geen rauwe melk (of andere drank) meer te verwerken is, moet wat in de machine achterblijft weer worden uitgespoeld.
                <li>Water is nodig en de pasteur stopt net op tijd om te voorkomen dat er water in de uitlaattank...
                <li>Deze regeling neemt 5L schoon water uit een inlaatemmer om de resterende melk uit het circuit te duwen.
                <li>Met de gele knop kunt u pauzeren (bijvoorbeeld om van het ene blik rauwe melk naar het andere te gaan). De groene knop wordt gebruikt om te hervatten.
            $if letter == 'M':
              $if ml.lang == 'f':
                <li>Quand on change les paramètres de chauffe (par exemple, passer du Yaourt au Lait à embouteiller), il faut en terminer avec le lait qui a été traité selon un premier jeu de consignes
                    (temps configurable entre 15 et 30 secondes; température configurable entre 60 et 89°C).).
                    On met déjà le nouvau lait (ou mélange) en entrée et la machine arrête juste à temps pour changer la consigne de pasteurisation si désiré
                    et, une deuxième fois, pour changer le récipient de sortie...</li>
                <li>Mettre le tuyau d’entrée dans le bidon de lait crû (ou autre boisson) à traiter selon la nouvelle consigne. Ne pas changer tout de suite le tuyau de sortie.
                <li>La pompe sera automatiquement arrêtée une première fois quand elle aura pompé assez pour amener le nouveau lait/boisson à la pasteurisation: vous pourrez alors changer la consigne de temps et/ou de température si désiré.
                <li>La pompe sera automatiquement arrêtée une seconde fois quand assez aura pompé assez pour chasser tout le lait de la première consigne restant dans la machine (et que le lait/mélange suivant commence à arriver en sortie).
                <li>Le bouton vert permet de reprendre. Le bouton jaune permet de faire une pause (par exemple, pour passer d'un bidon de lait crû au suivant).
              $if ml.lang == 'e':
                <li>When the heating parameters are changed (for example, from yoghurt to milk to be bottled), the milk that has been processed according to a first set of instructions (time configurable between 15 and 30 seconds; temperature configurable between 60 and 89°C) must be finished.) The new milk (or mixture) is already put in the inlet and the machine stops just in time to change the pasteurisation set point if desired and, a second time, to change the outlet container.
                <li>Place the inlet pipe in the can of raw milk (or other beverage) to be treated according to the new set point. Do not change the outlet pipe immediately.
                <li>The pump will automatically be stopped once it has pumped enough to bring the new milk/drink to pasteurisation: you can then change the time and/or temperature set point if desired.
                <li>The pump will automatically be stopped a second time when it has pumped enough to flush out all the milk from the first set point remaining in the machine (and the next milk/mixture starts to come out).
                <li>The green button is used to resume. The yellow button is used to pause (for example, to switch from one can of raw milk to the next).
              $if ml.lang == 'n':
                <li>Wanneer de verwarmingsparameters worden gewijzigd (bijvoorbeeld van yoghurt naar melk die moet worden gebotteld), moet de melk die is verwerkt volgens een eerste reeks instructies (tijd instelbaar tussen 15 en 30 seconden; temperatuur instelbaar tussen 60 en 89°C) worden afgewerkt). De nieuwe melk (of het nieuwe mengsel) wordt al in de inlaat gebracht en de machine stopt net op tijd om het pasteurisatie-instelpunt desgewenst te wijzigen en, een tweede keer, de uitlaatcontainer te verwisselen.
                <li>Plaats de inlaatbuis in het te behandelen blik rauwe melk (of andere drank) volgens het nieuwe instelpunt. Vervang de uitlaatpijp niet onmiddellijk.
                <li>De pomp wordt automatisch gestopt zodra hij genoeg gepompt heeft om de nieuwe melk/drank te pasteuriseren: u kunt dan desgewenst de ingestelde tijd en/of temperatuur wijzigen.
                <li>De pomp wordt automatisch een tweede keer gestopt wanneer hij genoeg gepompt heeft om alle melk van het eerste setpoint die nog in de machine zit, eruit te spoelen (en de volgende melk/het volgende mengsel eruit begint te komen).
                <li>De groene knop wordt gebruikt om te hervatten. De gele knop wordt gebruikt om te pauzeren (bijvoorbeeld om van het ene blik rauwe melk naar het andere te gaan).
            $if letter == 'R':
              $if ml.lang == 'f':
                <li>Votre pasteurisateur a été utilisé et il est sale... Ou des produits chimiques ont été utilisés et il faut en enlever toute trace.
                <li>4 cycles de rinçage sont effectués. Les deux premiers peuvent utiliser de l'eau recyclée (provenant de rinçages précédents). Les deux derniers doivent se faire avec de l'eau fraîche et potable.</li>
                <li>On utilise soit l’eau potable du réseau ou celle d'un seau.
                <li>Pour l'eau du réseau: mettez le tuyau d’entrée et le tuyau de sortie dans un même seau ou au dessus d'un égout.
                <li>Pour l'eau d'un seau, mettez le tuyau d’entrée dans celui-ci et le tuyau de sortie dans un autre.
                <li>Faîtes attention à ce que les seaux fassent au moins 20L si vous faites 4 rinçages.
              $if ml.lang == 'e':
                <li> Your pasteuriser has been used and is dirty... Or chemicals have been used and all traces of them must be removed.
                <li> 4 rinsing cycles are performed. The first two can use recycled water (from previous rinses). The last two should be done with fresh drinking water.
                <li> Either mains water or water from a bucket is used.
                <li> For mains water: put the inlet pipe and the outlet pipe in the same bucket or over a sewer.
                <li> For bucket water, put the inlet pipe in the bucket and the outlet pipe in another bucket.
                <li> Make sure the buckets are at least 20L if you are doing 4 rinses.
              $if ml.lang == 'n':
                <li> Uw pasteur is gebruikt en vuil... Ou des produits chimiques ont été utilisés et il faut en enlever toute trace.
                <li> 4 spoelcycli worden uitgevoerd. Les deux premiers peuvent utiliser de l'eau recyclée (provenant de rinçages précédents). De laatste twee cycli moeten worden uitgevoerd met vers drinkwater.
                <li> Leidingwater of water uit een emmer wordt gebruikt.
                <li> Voor leidingwater: plaats de inlaatleiding en de uitlaatleiding in dezelfde emmer of over een riool.
                <li> Voor emmer water, plaats de inlaatbuis in de emmer en de uitlaatbuis in een andere emmer.
                <li> Zorg ervoor dat de emmers minstens 20L zijn als u 4 spoelingen doet.
            $if letter == 'C':
              $if ml.lang == 'f':
                <li>Votre pasteurisateur a été rincé mais il faut le nettoyer en profondeur.
                <li>Le tuyau d'entrée et celui de sortie sont mis ensemble dans un seau d’au moins 10L.
                <li>On peut réutiliser un seau de produit de nettoyage une ou deux fois dans la même semaine. Il faut indiquer que le seau est déjà rempli.
                <li>Sinon, un remplissage d’eau potable est effectué au préalable et une confirmation (bouton vert) est demandée pour confirmer que le produit de nettoyage a été ajoutée selon la quantité requise par son fabricant.
                    La quantité totale d'eau est de 5L dans le pasteurisateur + 2L = 7 litres.
                <li>Le détergent ainsi dilué est circulé 30 minutes à 70°C maximum, 57°C minimum (consignes modifiables).
              $if ml.lang == 'e':
                <li> Your pasteuriser has been rinsed but needs to be thoroughly cleaned.
                <li> The inlet and outlet pipes are put together in a bucket of at least 10L.
                <li> A bucket of cleaning agent can be reused once or twice in a week. The bucket should be marked as already filled.
                <li> If not, a filling of potable water is done beforehand and a confirmation (green button) is requested to confirm that the cleaning product has been added in the amount required by its manufacturer. The total amount of water is 5L in the pasteuriser + 2L = 7 litres.
                <li> The diluted detergent is circulated for 30 minutes at 70°C maximum, 57°C minimum (instructions can be modified).
              $if ml.lang == 'n':
                <li> Uw pasteur is gespoeld, maar moet grondig worden gereinigd.
                <li> De in- en uitlaatpijpen worden samengebracht in een emmer van minstens 10L.
                <li> Een emmer schoonmaakmiddel kan één of twee keer per week worden hergebruikt. De emmer moet gemarkeerd zijn als reeds gevuld.
                <li> Zo niet, dan wordt vooraf drinkwater bijgevuld en een melding (groene knop) gevraagd om te bevestigen dat het reinigingsmiddel is toegevoegd in de door de fabrikant voorgeschreven hoeveelheid. De totale hoeveelheid water is 5L in de pasteur + 2L = 7 liter.
                <li> Het verdunde detergens wordt gedurende 30 minuten gecirculeerd bij 70°C maximum, 57°C minimum (de instructies kunnen worden gewijzigd).
            $if letter == 'A':
              $if ml.lang == 'f':
                <li>Votre pasteurisateur a été rincé et nettoyé mais il faut enlever les dépots minéraux à la fin d'une grosse semaine. Un produit acide spécialement formulé fait ce travail.
                <li>Le tuyau d'entrée et celui de sortie sont mis ensemble dans un seau d’au moins 10L.
                <li>Un remplissage d’eau potable est effectué au préalable et une confirmation (bouton vert) est demandée pour confirmer que le produit de nettoyage a été ajouté selon la quantité requise par son fabricant.
                    La quantité totale d'eau est de 5L dans le pasteurisateur + 2L = 7 litres.
                <li>Le détergent ainsi dilué est circulé 10 minutes à 50°C maximum, 37°C minimum (consignes modifiables).
              $if ml.lang == 'e':
                <li> Your pasteuriser has been rinsed and cleaned but the mineral deposits need to be removed at the end of a long week. A specially formulated acid product does this job.
                <li> The inlet and outlet pipes are put together in a bucket of at least 10L.
                <li> A fill of potable water is made beforehand and a confirmation (green button) is requested to confirm that the cleaning product has been added in the amount required by its manufacturer. The total quantity of water is 5L in the pasteuriser + 2L = 7 litres.
                <li> The diluted detergent is circulated for 10 minutes at 50°C maximum, 37°C minimum (instructions can be modified).
              $if ml.lang == 'n':
                <li> Uw pasteur is gespoeld en gereinigd, maar de minerale aanslag moet na een lange week worden verwijderd. Een speciaal samengesteld zuur product doet dit werk.
                <li> De in- en uitlaatpijpen worden samengebracht in een emmer van minstens 10L.
                <li> Er wordt vooraf drinkwater bijgevuld en een bevestiging (groene knop) gevraagd om te bevestigen dat het reinigingsmiddel is toegevoegd in de door de fabrikant voorgeschreven hoeveelheid. De totale hoeveelheid water is 5L in de pasteur + 2L = 7 liter.
                <li> Het verdunde detergens wordt gedurende 10 minuten gecirculeerd bij 50°C maximum, 37°C minimum (de instructies kunnen worden gewijzigd).
            $if letter == 'D':
              $if ml.lang == 'f':
                <li>Votre pasteurisateur a été nettoyé mais il faut toujours le désinfecter juste avant utilisation.
                <li>Le tuyau d'entrée et celui de sortie sont mis ensemble dans un seau d’au moins 10L.
                <li>Un remplissage d’eau potable est effectué au préalable et une confirmation (bouton vert) est demandée pour confirmer que le produit de désinfection a été ajouté selon la quantité requise par son fabricant.
                    La quantité totale d'eau est de 5L dans le pasteurisateur + 2L = 7 litres.
                <li>Le désinfectant ainsi dilué est circulé une fois et le pasteurisateur se met en pause. Le bouton vert permet de redémarrer après avoir laissé le désinfectant agir 15 minutes (concentration normale) ou plusieurs jours (concentration réduite au quart).
              $if ml.lang == 'e':
                <li> Your pasteuriser has been cleaned but should always be disinfected just before use.
                <li> The inlet and outlet pipes are put together in a bucket of at least 10L.
                <li> A filling of drinking water is done beforehand and a confirmation (green button) is requested to confirm that the disinfectant has been added in the amount required by its manufacturer. The total quantity of water is 5L in the pasteuriser + 2L = 7 litres.
                <li> The diluted disinfectant is circulated once and the pasteuriser is paused. The green button is used to restart the pasteuriser after the disinfectant has been allowed to work for 15 minutes (normal concentration) or several days (concentration reduced to a quarter).
              $if ml.lang == 'n':
                <li> Uw pasteur is gereinigd, maar moet altijd vlak voor gebruik worden gedesinfecteerd.
                <li> De in- en uitlaatpijpen worden samengebracht in een emmer van minstens 10L.
                <li> Een vulling van drinkwater wordt vooraf gedaan en een bevestiging (groene knop) wordt gevraagd om te bevestigen dat het ontsmettingsmiddel is toegevoegd in de door de fabrikant voorgeschreven hoeveelheid. De totale hoeveelheid water is 5L in de pasteur + 2L = 7 liter.
                <li> Het verdunde ontsmettingsmiddel wordt eenmaal gecirculeerd en de pasteur wordt gepauzeerd. Met de groene knop wordt de pasteur opnieuw gestart nadat het ontsmettingsmiddel 15 minuten (normale concentratie) of enkele dagen (tot een kwart gereduceerde concentratie) heeft gewerkt.
            $if letter == 'X':
              $if ml.lang == 'f':
                <li>Vous désirez mettre votre pasteurisateur hors tension. Cette commande va arrêter le contrôle électronique.
                <li>Tous les boutons vont s'éteindre sauf le voyant blanc. Une dizaine de secondes plus tard, vous pourrez tourner le sectionneur en position OFF (horizontale) et tout sera hors tension.
              $if ml.lang == 'e':
                <li> You wish to switch off your pasteuriser.
                This command will stop the electronic control.
                <li> All the buttons will go out except the white light.
                About ten seconds later, you can turn the main switch to the OFF position (horizontal) and everything will be off.
              $if ml.lang == 'n':
                <li> U wilt uw pasteur uitzetten.
                Dit commando stopt de elektronische besturing.
                <li> Alle knoppen gaan uit, behalve het witte licht.
                Ongeveer tien seconden later kunt u de schakelaar in de stand OFF (horizontaal) zetten en is alles uit.
            </ul>
            <p class="alert alert-warning">$(menus.actionName[letter][2])</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" href="/" id="cancel">$(ml.T("Annuler","Cancel","Annuleer"))</button>
                            <button onclick="action('!',true)" id="buckbutton2" class="btn btn-info buckbutton" style="visibility:hidden">$(ml.T("Seau fourni","Bucket provided","Emmer voorzien"))&nbsp;<span id="bucket2" class="glyphicon"></span></button>
                            <button type="button" class="btn btn-primary" onclick="action('$letter')" id="confirm">$(ml.T("Confirmer","Confirm","Bevestigen")) $letter: $(menus.actionName[letter][1]) - $(menus.actionName[letter][3])</button>
                        </div>
                    </div>
                </div>
            </div>
    $if not connected :
        <div>
            <h4>$(ml.T("Cette application gère votre pasteurisateur accessible","This app manages your affordable flow pasteuriser","Deze app beheert uw betaalbare continu pasteurisator")).</h4>
            <h1>$(ml.T("Veuillez vous identifier S.V.P","Please identify yourself","Identificeer u alstublieft"))</h1>

            <form class="form-inline" method="post" action="/" id="loginForm" data-bv-message="This value is not valid"  data-bv-live="enabled" data-bv-container="tooltip"data-bv-submitButtons="#loginSubmit">
                <input type="hidden" name="erroruri" value=""/>
                <div class="form-group">
                    <input type="email" name="mail" placeholder="Email" class="form-control" size="20" autofocus/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control" size="8"/>
                </div>
                <span class="sr-only">Log in</span>
                <span class="totip" data-toggle="tooltip" data-placement="bottom" title="log-IN" style="pointer-events: auto;">
                    <input type="hidden" name="method" id="method" value="login">
                    <button type="submit" name="login" class="btn btn-warning" id="loginSubmit">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="glyphicon glyphicon-log-in"></span>
                    </button>
                </span>
            </form>
            $code:
               result = subprocess.check_output(['ip','-4', '-o','addr'])
               result = result.decode('utf-8').split('\n')
               toDisplay = ""
               for line in result:
                   line = line.split('scope')[0].split('brd')[0].strip()
                   toDisplay += line+'<br>'
            <pre>$:toDisplay</pre>
        </div>
    </div>
    </main>

