$def with (content)
$ ip = web.ctx['ip']
$ now = int(datetime.now().timestamp())
$ currentLetter = menus.currAction
<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="pastOnomic.solutions : pasteurisation accessible">
    <meta name="theme-color" content="#563d7c">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <title>$content.title</title>
    <!-- Custom styles for these templates -->
    <link rel="stylesheet" type="text/css" href="/css/local.css"/>
    <link rel="stylesheet" type="text/css" href="/css/navbar-top-fixed.css">
    <link rel="stylesheet" type="text/css" href="/css/sticky-footer-navbar.css">
    <link rel="icon" href="/static/favicon.png">

    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css"><!--href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/-->
    <!--link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"-->
    <link href="/css/glyphicons-local.css" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script><!--src="https://code.jquery.com/jquery-3.3.1.min.js"-->
    <!--script-- src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	    crossorigin="anonymous"></script-->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	    crossorigin="anonymous"></script-->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/datatables.min.js"></script><!--src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"-->

    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script><!--src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"-->
    <script type="text/javascript" src="/js/dataTables.bootstrap4.min.js"></script><!--https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js-->
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" onclick="void(0);" style="text-align:center">
	<a href="/?$now#"><img src="/static/akuino_black.png" alt="AKUINO" style="height:2em;" align="bottom"></a>
	<button class="btn btn-warning" onclick="showCommands()"><img src="/static/touch.svg" style="height:1.5em;" alt="Buttons" align="bottom"> $(ml.T("Pasteurisateur","Pasterizer","Pasteur"))</button>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
		aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto" role="menu">
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="clean" data-toggle="dropdown">
		    $(ml.T("Propre","Cleaned","Schoon"))
		  </a>
		  <div class="dropdown-menu">
		  $for letter in menus.cleanActions:
		    <a id="drop$(letter)" class="dropdown-item" onclick='fromHereTo("$(currentLetter)","$(letter)")' href="#">$letter: $(menus.actionName[letter][1])<small> - $(menus.actionName[letter][3])</small></a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/option1" onclick="closeMenu()">$(ml.T("Paramètres de Pasteurisation","Pasteurisation Parameters","Pasteurisatie parameters"))</a>
		  </div>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="dirty" data-toggle="dropdown">
		    $(ml.T("Sale","Dirty","Vuil"))
		  </a>
		  <div class="dropdown-menu">
		  $for letter in menus.dirtyActions:
		    <a id="drop$(letter)" class="dropdown-item" onclick='fromHereTo("$(currentLetter)","$(letter)")' href="#">$letter: $(menus.actionName[letter][1])<small> - $(menus.actionName[letter][3])</small></a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/option2" onclick="closeMenu()">$(ml.T("Paramètres de Nettoyage","Cleansing Parameters","Reiniging parameters"))</a>
		  </div>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="sys" data-toggle="dropdown">
		    $(ml.T("Système","System","Systeem"))
		  </a>
		  <div class="dropdown-menu">
		  $for letter in menus.sysActions:
		    <a id="drop$(letter)" class="dropdown-item" onclick='fromHereTo("$(currentLetter)","$(letter)")' href="#">$letter: $(menus.actionName[letter][1])<small> - $(menus.actionName[letter][3])</small></a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/csv" onclick="closeMenu()">$(ml.T("Données brutes","Raw Data","Ruwe Data"))</a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/assignsensor" onclick="closeMenu()">$(ml.T("Config.Capteurs","Sensors Config.","Sensoren Config."))</a>
		  <a class="dropdown-item" href="/calibrate" onclick="closeMenu()">$(ml.T("Calibration","Calibration","Calibratie"))</a>
		  <a class="dropdown-item" href="/update" onclick="closeMenu()">$(ml.T("MàJ Logiciel","Software Upd.","Software-update"))</a>
		  <!--a class="dropdown-item" href="/valve?pos=0" onclick="closeMenu()">(ml.T("Fermer Vanne","Close Valve","Sluit de Klep"))</a>
		  <a class="dropdown-item" href="/valve?pos=1" onclick="closeMenu()">(ml.T("Ouvrir Vanne","Open Valve","Open Klep"))</a>
		  <a class="dropdown-item" href="/pump?speed=0" onclick="closeMenu()">(ml.T("Arrêter Pompe","Stop Pump","Stop de Pomp"))</a>
		  <a class="dropdown-item" href="/pump?speed=P" onclick="closeMenu()">(ml.T("Pomper","Pump","Pompen"))</a>
		  <a class="dropdown-item" href="/pump?speed=-P" onclick="closeMenu()">(ml.T("Reculer","Pump back","Pompen Terug"))</a-->
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/disconnect" onclick="closeMenu()">$(ml.T("Déconnexion","Disconnection","Ontkoppeling")) $ip</a>
		  </div>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="lang" data-toggle="dropdown">
		    $(ml.T("Langue","Language","Taal"))
		  </a>
		  <div class="dropdown-menu">
		      <a class="dropdown-item" href="/?lang=e" onclick="closeMenu()">English</a>
		      <a class="dropdown-item" href="/?lang=f" onclick="closeMenu()">Français</a>
		      <a class="dropdown-item" href="/?lang=n" onclick="closeMenu()">Nederlands</a>
		  </div>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/logtable" id="logtable">$(ml.T("Journal","Log","Logboek"))</a>
		</li>
		<!--li class="nav-item">
		  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		</li-->
	    </ul>
	    <!--form class="form-inline mt-2 mt-md-0" action="/recherche">
		<input class="form-control mr-sm-2" type="text" placeholder="Chercher" aria-label="Chercher"
		       name="recherche">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
	    </form-->
	</div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="ModalConfirm" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
		<div class="modal-header">
		    <h5 class="modal-title" id="ModalTitle">
			$(ml.T("Action","Action","Actie")) <b class="currLetter"></b> $(ml.T("n'est pas permise normalement","is not allowed normally.","is normaal niet toegestaan")).
		    </h5>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		    </button>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-primary" data-dismiss="modal">$(ml.T("Annuler","Cancel","Annuleren"))</button>
		    <button id="ModalConfirmContinue" type="button" class="btn btn-secondary">$(ml.T("Continuer quand même","Continue anyway","Ga toch door"))</button>
		</div>
	    </div>
	</div>
    </div>
    <div class="modal fade" id="modalCommands" tabindex="-1" role="dialog" aria-labelledby="modalCommandsTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
		<div class="modal-header"><img id="actionModalIcon" src="" style="height:2.8em; display:float" align="left"/>
		    <h5 class="modal-title" id="modalCommandsTitle"><span id="timeModal"></span>: <span id="actionModal"></span> / <span id="stateModal"></span></h5>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		    </button>
		</div>
		<div class="modal-body">
		    <table class="commandKeyboard" cellspacing="0" cellpadding="0" border="1" width="100%">
			<tr id="comR1">
			    <td id="comR1C1" class="commandButtonCell"><img id="comP" class="commandButton" src="/static/action/P.svg" onclick="fromHereTo(currentLetter,'P')"><img id="comI" class="commandButton" src="/static/action/I.svg" onclick="fromHereTo(currentLetter,'I')"></td>
			    <td id="comR1C2" class="commandButtonCell"><img id="comE" class="commandButton" src="/static/action/E.svg" onclick="fromHereTo(currentLetter,'E')"></td>
			    <td id="comR1C3" class="commandButtonCell"><a href="/option1"><img id="comO" class="commandButton" src="/static/action/O.svg"/></a></td>
			</tr>
			<tr id="comR2">
			    <td id="comR2C1" class="commandButtonCell"><img id="comC" class="commandButton" src="/static/action/C.svg" onclick="fromHereTo(currentLetter,'C')"/></td>
			    <td id="comR2C2" class="commandButtonCell"><img id="comA" class="commandButton" src="/static/action/A.svg" onclick="fromHereTo(currentLetter,'A')"/></td>
			    <td id="comR2C3" class="commandButtonCell"><img id="comD" class="commandButton" src="/static/action/D.svg" onclick="fromHereTo(currentLetter,'D')"/></td>
			</tr>
			<tr id="comR3">
			    <td id="comR3C1" class="commandButtonCell"><img id="comF" class="commandButton" src="/static/action/F.svg" onclick="fromHereTo(currentLetter,'F')"/></td>
			    <td id="comR3C2" class="commandButtonCell"><img id="comR" class="commandButton" src="/static/action/R.svg" onclick="fromHereTo(currentLetter,'R')"/></td>
			    <td id="comR3C3" class="commandButtonCell"><a href="/option2"><img id="comN" class="commandButton" src="/static/action/O.svg"/></a></td>
			</tr>
			<tr id="comR4">
			    <td id="comR4C1" class="commandButtonCell"><img id="com_" class="commandButton" src="/static/action/_.svg" onclick="action('_')"/><img id="comS" class="commandButton" src="/static/action/S.svg" onclick="action('S')"/></td>
			    <td id="comR4C2" class="commandButtonCell"><img id="comZ" class="commandButton" src="/static/action/Z.svg" onclick="action('Z')"/></td>
			    <td id="comR4C3" class="commandButtonCell"><img id="comV" class="commandButton" src="/static/action/V.svg" onclick="fromHereTo(currentLetter,'V')"/></td>
			</tr>
		    </table>
		</div>
		<div class="modal-footer">
		    <span id="dangerModal" class="danger"></span>
		</div>
	    </div>
	</div>
    </div>
$:content

<footer class="footer">
    <div class="container">
	<span class="text-muted">$(ml.T("Un pasteurisateur développé par le projet","A pasteurizer developed by project","Een pasteur ontwikkeld door project"))
	    <a href="http://akuino.net" style="white-space:nowrap"><img src="/static/favicon.png" alt="AKUINO.net" style="height:1em;"/>AKUINO.net</a>.</span>
    </div>
</footer>

<script type="text/javascript">
$$('.navbar-collapse').collapse('hide');
</script>

</body>
</html>
