$def with (connected,mail)
$var title : Pasteurization and Cooling Parameters
<main role="main" class="container">
  <div class="jumbotron" onclick="void(0);">
    <!--
    <h4><b id="time"></b> &nbsp; <b id="actionletter"></b>:<b id="action"></b> &nbsp; (<span id="emptied">$(ml.T("Circuit vidé","Emptied circuit","Leeg circuit")), </span><b id="stateletter" class="show-flow"></b>:<b id="state"></b>)<br/><span id="danger" class="danger"></span></h4>
    <p style="margin:auto"><span id="actiontitle"></span></p>
    <p class="alert alert-warning" style="display:inline-block"><b id="accro"></b> <span id="message"></span><span id="delay"></span></p>
    <hr/> -->
<h2>$(ml.T("Paramètres de Pasteurisation et Refroidissement","Pasteurisation and Cooling Parameters","Pasteurisatie- en koelparameters"))</h2>
<form method="post" action="/option1">
$for letter in menus.cleanOptions:
  <div class="form-group">
    <label for="opt_$(letter)">$(menus.tit(letter)) ( $(menus.uni(letter)) )</label>
    <input class="form-control" id="opt_$(letter)" name="opt_$(letter)" placeholder="$(menus.display(letter,Menus.INI))" min="$(menus.display(letter,Menus.MIN))" max="$(menus.display(letter,Menus.MAX))" step="$(menus.display(letter,Menus.STP))" type="$(menus.type(letter))" value="$(menus.display(letter,Menus.VAL))">
  </div>
<button type="submit" class="btn btn-success">$(ml.T("Enregistrer","Save","Opslaan"))</button>
</form>
<hr/>
<a href="/index"><button class="btn btn-info">$(ml.T("Quitter","Cancel","Annuleer"))</button></a> &nbsp;
<a href="/option1?reset=on"><button class="btn btn-warning">$(ml.T("Valeurs par défaut","Reset to default","Reset"))</button></a>
<script type="text/javascript" src="/static/js/index.js"></script>
</div></main>