$def with (connected,mail,reportPasteur, tag_index)
$var title : Pasteurization and Cooling Parameters
<script type="text/javascript">
   var commands = false ;
</script>
<main role="main" class="container">
  <div class="jumbotron" onclick="void(0);">
    <!--
    <h4><b id="time"></b> &nbsp; <b id="actionletter"></b>:<b id="action"></b> &nbsp; (<span id="emptied">$(ml.T("Circuit vidé","Emptied circuit","Leeg circuit")), </span><b id="stateletter" class="show-flow"></b>:<b id="state"></b>)<br/><span id="danger" class="danger"></span></h4>
    <p style="margin:auto"><span id="actiontitle"></span></p>
    <p class="alert alert-warning" style="display:inline-block"><b id="accro"></b> <span id="message"></span><span id="delay"></span></p>
    <hr/> -->
<h2>$(ml.T("Paramètres de Pasteurisation et Refroidissement","Pasteurisation and Cooling Parameters","Pasteurisatie- en koelparameters"))</h2>
    <button class="btn btn-info" onclick="goToLetter('P','L',false)"><img src="/static/touch.svg" style="height:1.5em;" alt="$(menus.actionName['L'][2])" align="bottom"> $(menus.actionName['L'][1])</button>
    <button class="btn btn-info" onclick="goToLetter('P','Y',false)"><img src="/static/touch.svg" style="height:1.5em;" alt="$(menus.actionName['Y'][2])" align="bottom"> $(menus.actionName['Y'][1])</button>
    <button class="btn btn-info" onclick="goToLetter('P','T',false)"><img src="/static/touch.svg" style="height:1.5em;" alt="$(menus.actionName['T'][2])" align="bottom"> $(menus.actionName['T'][1])</button>
    <button class="btn btn-info" onclick="goToLetter('P','J',false)"><img src="/static/touch.svg" style="height:1.5em;" alt="$(menus.actionName['J'][2])" align="bottom"> $(menus.actionName['J'][1])</button>
    $if reportPasteur.state:
      <a role="button" class="btn btn-success" href="/report/current" style="float:right">$(ml.T("Rapport","Report","Verslag"))</a>
    $else:
      <a role="button" class="btn btn-secondary" href="/reports" style="float:right">$(ml.T("Rapports","Reports","Verslagen"))</a>
<form method="post" action="/option1">
$for letter in menus.cleanOptions:
  <div class="form-group">
    <label for="opt_$(letter)">$(menus.tit(letter)) ( $(menus.uni(letter)) )</label>
    <input class="form-control" id="opt_$(letter)" name="opt_$(letter)" placeholder="$(menus.display(letter,Menus.INI))" min="$(menus.display(letter,Menus.MIN))" max="$(menus.display(letter,Menus.MAX))" step="$(menus.display(letter,Menus.STP))" type="$(menus.type(letter))" value="$(menus.display(letter,Menus.VAL))">
  </div>
<button type="submit" class="btn btn-success">$(ml.T("Enregistrer","Save","Opslaan"))</button>
</form>
<hr/><ul>
      $for tag in tag_index.keys():
        $ minTemp = 0.0
        $ maxTemp = 0.0
        $ min_reduction = 99.9
        <li>$(tag) :
        $for bact in tag_index[tag]:
            <div>$(bact.address)&nbsp;/&nbsp;10<sup><b>$("%0.1f"%bact.reduction)</b></sup>&nbsp;: D<sub>$("%0.1f"%bact.get_Dt())°</sub>&nbsp;=&nbsp;$("%0.2f"%bact.t)"&nbsp;,&nbsp;z=$("%0.2f"%bact.z)°C $(bact.source)
            $ temp = bact.minTemp()
            $ minTemp = minTemp if minTemp >= temp else temp
            $ temp = bact.maxTemp()
            $ maxTemp = maxTemp if maxTemp >= temp else temp
            $ reduc = bact.real_reduction()
            $ min_reduction = min_reduction if min_reduction <= reduc else reduc
            </div>
        [ $("%0.1f"%minTemp)°C &lt; $("%0.1f"%maxTemp)°C ] /&nbsp;10<sup><b>$("%0.1f"%min_reduction)</b></sup><br/> &nbsp; </li>
  </ul><hr/>
<a href="/index"><button class="btn btn-info">$(ml.T("Quitter","Cancel","Annuleer"))</button></a> &nbsp;
<a href="/option1?reset=on"><button class="btn btn-warning">$(ml.T("Valeurs par défaut","Reset to default","Reset"))</button></a>
<script type="text/javascript" src="/static/js/index.js"></script>
</div></main>