$def with (connected,mail)
$var title : Cleaning Parameters
<main role="main" class="container">
<div class="jumbotron" onclick="void(0);">
<button onclick="action('Z')" class="btn btn-danger" id="STOP" style="float:right">STOP</button>
<h3><b id="time"></b> <b id="actionletter"></b>:<b id="action"></b></h3>
<p style="margin:auto"><span id="actiontitle"></span></p>
<button onclick="action('S')" class="btn btn-warning" id="pause" style="float:right">$(ml.T("Pause","Pause","Pauze"))</button>
<button onclick="action('_')" class="btn btn-success" id="restart" style="float:right">$(ml.T("Redémarrer","Restart","Herstart"))</button>
<p class="alert alert-warning" style="display:inline-block"><b id="accro"></b> <span id="message"></span><span id="delay"></span></p>
<hr/>
<h2>$(ml.T("Paramètres de Nettoyage","Cleansing Parameters","Reiniging parameters"))</h2>
<form method="post" action="/option2">
$for letter in menus.dirtyOptions:
  <div class="form-group">
    <label for="opt_$(letter)">$(menus.tit(letter)) ( $(menus.uni(letter)) )</label>
    <input class="form-control" id="opt_$(letter)" name="opt_$(letter)" placeholder="$(menus.display(letter,Menus.INI))" min="$(menus.display(letter,Menus.MIN))" max="$(menus.display(letter,Menus.MAX))" step="$(menus.display(letter,Menus.STP))" type="$(menus.type(letter))" value="$(menus.display(letter,Menus.VAL))">
    $if menus.ref(letter):
       ($(ml.T("Dernier","Last","Laatse")): $(menus.ref(letter)))
  </div>
<button type="submit" class="btn btn-success">$(ml.T("Enregistrer","Save","Opslaan"))</button>
</form>
<hr/>
<a href="/index"><button class="btn btn-info">$(ml.T("Quitter","Cancel","Annuleer"))</button></a> &nbsp;
<a href="/option2?reset=on"><button class="btn btn-warning">$(ml.T("Valeurs par défaut","Reset to default","Reset"))</button></a>
<script type="text/javascript" src="/static/js/index.js"></script>
</div></main>